@import "../../../assets/stylesheets/abstracts/variables";

.previewFileModalContainer{
    background-color: $colorLightGray;
    height: 900px;
    width: 1000px;
    overflow: auto;
    position: relative;
    color: $colorWhite;
    font-size: 1em;
}