@import "../../../assets/stylesheets/abstracts/variables";

.changePasswordModalContainer{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #22252E;
    color: white;
    border-radius: 50px;
    box-shadow: 0 0 40px 1px white;
    border: white 2px solid;
    padding: 0 20px;
}
.changePasswordModalForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.changePasswordModalFormText{
    margin: 10px 0;
    text-align: center;
    opacity: 0.7;
}
.changePasswordModalFormButton{
    border-radius: 50px;
    margin-top: 20px;
    background: transparent;
    border: white 2px solid;
    transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
    padding: 10px 40px;
    text-align: center;
    color: white;
}
.changePasswordModalFormButton:hover{
    border: #23a6d5 2px solid;
    color: #23a6d5;
}