.container {
    background: #22252E;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.loader {
    border: 10px solid transparent;
    border-top-color: greenyellow;
    border-bottom-color: #f92056;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s ease-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}