@import "../../../assets/stylesheets/abstracts/variables";

.fileCatalogSearchInput{
    height: 100%;
    width: 250px;
    background: transparent;
    color: $colorWhite;
    border: none;
    outline: none;
    font-size: 1.1em;
    padding-left: 10px;

    &::placeholder{
        opacity: 0.5;
    }
}

.fileCatalogSearchIcon{
    position: absolute;
    right: 10px;
    top: -14px;
    font-size: 1.8em;
    color: $colorGreen;
    line-height: 70px;
    user-select: none;
}
.fileCatalogSearchContainer{
    height: 40px;
    width: 300px;
    background: $colorBlackGray;
    border-radius: 16px;
    position: relative;
    justify-content: center;
    transition: box-shadow 0.5s ease-out;

    &:hover{
        background: $colorBlack;
    }
    &:focus-within{
        background: $colorBlack;
        box-shadow: 0 0 10px 2px $colorAquamarine;
    }
}

@media (max-width: 767px) {
    .fileCatalogSearchContainer{
        width: 150px;
        font-size: 1em;
    }
    .fileCatalogSearchInput{
        width: 100px;
    }
}

