@import "@/assets/stylesheets/abstracts/variables";
@import "@/assets/stylesheets/abstracts/mixins";

.parsingButton{
  @include helperButton($colorLightGray, $colorPink, 10px);
  transform: translateY(-100%);
  opacity: 0;
}

.buttonShow{
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 767px) {
  .parsingButton{
    display: none;
  }
}