.filesContainer{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 240px);
  justify-content: center;
  justify-items: center;
  align-items: center;
  outline: none;
  padding: 20px 20px;
}

@media (max-width: 767px) {
  .filesContainer{
    grid-template-columns: repeat(auto-fill, 160px);
  }
}