@import "../../../assets/stylesheets/abstracts/variables";

.changePasswordInputContainer{
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid $colorWhite;
    margin-top: 30px;
    transition: border 0.5s ease-in-out;
}
.changePasswordInputContainerError{
    border-bottom: $colorRed 2px solid;
}
.changePasswordInput{
    background: transparent;
    color: $colorWhite;
    border: none;
    outline: none;
    padding: 0 45px 0 5px;
    width: 100%;
    height: 30px;
    font-size: 1em;

    &::placeholder{
        opacity: 0.5;
        color: $colorWhite;
    }
}
.changePasswordInputIcon{
    position: absolute;
    right: 8px;
    font-size: 1.5em;
    color: $colorWhite;
    line-height: 70px;
    top: 5px;
    cursor: pointer;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.changePasswordInputTooltip{
    color: $colorBlack;
    display: inline-block;
    position: absolute;
    background-color: $colorRed;
    padding: 8px 15px;
    border-radius: 3px;
    right: 390px;
    font-size: 1em;
    max-height: 60px;
    text-align: center;
    text-autospace: none;
    width: 200px;

    &:after{
        content: '';
        display: block;
        position: absolute;
        right: -4px;
        top: 10px;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        background-color: inherit;
    }
}
