@import "@/assets/stylesheets/abstracts/variables";

.sorterButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: $colorLightGray;
    color: $colorWhite;
    cursor: pointer;
    padding: 0 10px;
    font-size: 1em;
}
.dropDownContainer{
    position: relative;
    display: inline-block;
}
.dropDownContent{
    display: block;
    position: absolute;
    min-width: 140px;
    box-shadow: 0 8px 16px 0 rgba($colorBlack,0.2);
    z-index: 1;
    border-radius: 10px;
    width: 150px;
    top: 34px;
    background-color: $colorLightGray;
    padding: 7px 0;
    transform: translateY(10%);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
    right: 0;
}
.dropDownContentOpen{
    transform: translateY(0);
    opacity: 1;
}
.dropDownHr{
    background-color: $colorPurple;
    height: 2px;
    margin: 4px 0;
    border: none;
}
.dropDownItem{
    padding: 5px 0 5px 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    user-select: none;
    cursor: pointer;
    color: $colorWhite;

    &:hover{
        background-color: $colorItemHover;
    }
}
.dropDownIcon{
    margin-left: 10px;
}

