@import "../../../assets/stylesheets/abstracts/variables";

.userCardContainer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    user-select: none;
    align-self: start;
    margin-left: 50px;
}

@media (max-width: 767px) {
    .userCardContainer{
        margin: 20px 0 0 20px;
    }
}
.userCardNickname {
    color: $colorAquamarine;
}
.userCardVerifiedIcon {
    margin-left: 10px;
    color: $colorRed;
    pointer-events: none
}