@import "@/assets/stylesheets/abstracts/variables";

.previewFileModalContainer{
    background-color: $colorLightGray;
    height: 900px;
    width: 1000px;
    overflow: auto;
    position: relative;
    color: $colorWhite;
    font-size: 1em;
    border-radius: 10px;
}
@media (max-width: 767px) {
    .previewFileModalContainer{
        height: 500px;
        width: 95vw;
    }
}

.loadingContainer{
    padding: 12px;
    position: sticky;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $colorLightGray;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}