@import "@/assets/stylesheets/abstracts/variables";
@import "@/assets/stylesheets/abstracts/mixins";

.button{
  @include helperButton($colorLightGray, $colorAquamarine, 2px);
  transform: translateY(-100%);
  opacity: 0;
}

.buttonIsActive{
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 767px) {
  .button{
    display: none;
  }
}