.header {
    padding: 0 40px 0 80px;
    background: rgb(30, 30, 33);
    display: flex;
    justify-content: left;
    align-items: center;
}
.headerLogo {
    font-size: 4em;
    color: #adff2f;
    user-select: none;
    text-shadow: 0 0 30px rgba(173, 255, 47, 0.5);
}
