.header {
    padding: 0 40px 0 80px;
    background: rgb(30, 30, 33);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 75px;
    @media (max-width: 767px) {
        display: none;
    }
}
.headerLogo {
    font-size: 4em;
    user-select: none;
    /*text-shadow: 0 0 30px rgba(173, 255, 47, 0.5);*/
    background: rgb(63,251,205);
    background: linear-gradient(90deg, rgba(63,251,205,1) 0%, rgba(42,56,233,1) 31%, rgba(252,78,99,1) 65%, rgba(207,70,252,1) 100%);
    background-clip: text;
    background-size: 400% 400%;
    animation: gradientHeader 15s ease infinite;
    transition: text-shadow linear;
    color: transparent;
}

@keyframes gradientHeader {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
