@import "../../../assets/stylesheets/abstracts/variables";
@import "../../../assets/stylesheets/abstracts/mixins";

.container{
  @include fileSystemItemContainer
}
.containerActive{
  background: $selectedFileSystemItemColor;
}
.folderName{
  font-size: 1em;
  text-align: center;
  color: $colorWhite;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.folderIcon{
  color: $folderIconColor;
  font-size: 10em;
}
.folderTooltip{
  @include fileSystemItemTooltipContainer
}
.folderTooltipActive{
  @include fileSystemItemTooltipContainerActive
}

@media (max-width: 767px) {
  .folderIcon{
    font-size: 5em;
  }
}
