$colorRed: #f92056;
$colorGreen: greenyellow;
$colorAquamarine: #66FCF1;
$colorModalBg: rgba(0,0,0,0.5);
$colorWhite: white;
$colorBlack: black;
$selectedFileSystemItemColor: rgba(63, 94, 251, 0.2);
$hoveredFileSystemItemColor: rgba(63, 94, 251, 0.4);
$fileIconColor: white;
$folderIconColor: #ffedaf;
$colorLilac: #807dde;
$colorPink: #ff00bd;
$colorIvory: #C5C6C7;
$colorMainContentBg: #22252E;
$colorSideBarBg: #313443;
$colorOrange: #FD6F1DFF;
$colorBlackGray: #151515;
$colorLightGray: #474A51;
$colorPurple: #833ab4;