.list {
    text-align: center;
}

.navbarContainer {
    display: flex;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #313443;
    width: 80px;
}

.navbarItems {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-between;
}

.bottomNav {
    position: sticky;
    bottom: 0;
}