@import "../../assets/stylesheets/abstracts/variables";

.sideBarItemsList {
    text-align: center;
}

.sideBarContainer {
    display: flex;
    height: 100vh;
    background-color: $colorSideBarBg;
    width: 80px;
    position: sticky;
    top: 0;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
}

.sideBarBottom {
    position: sticky;
    bottom: 0;
}

@media (max-width: 767px) {
    .sideBarContainer {
        height: 80px;
        width: 100%;
        position: sticky;
        bottom: 0;
        top: auto;
        flex-direction: row;
        //justify-content: space-around;
    }

    .sideBarItemsList{
        display: flex;
        flex-direction: row;
        //flex: 1;
    }

    .sideBarContainer nav:first-child{
        width: 80%;
    }

    .sideBarBottom{
        width: 20%;
    }
}