@import "../../assets/stylesheets/abstracts/variables";

.mainContainer {
  background: $colorMainContentBg;
  min-height: calc(100vh - 75px);
  flex: 1;
}
.flexContainerWithContent {
  display: flex;
}

@media (max-width: 767px) {
  .flexContainerWithContent{
    flex-direction: column-reverse;
  }
}