@import "../../../assets/stylesheets/abstracts/variables";

.loginInput {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 400;
  padding: 0 55px 0 5px;
  color: $colorLilac;

  &::placeholder{
    opacity: 0.5;
    color: $colorLilac;
  }
}

.loginInputContainer {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid $colorLilac;
  transition: border-bottom-color 0.4s ease-in-out;
}

.loginInputIcon {
  position: absolute;
  right: 8px;
  font-size: 1.5em;
  color: $colorLilac;
  line-height: 70px;
}

.loginInputContainerError{
  border-bottom-color: $colorRed;
}