@import "../../../assets/stylesheets/abstracts/variables";
@import "../../../assets/stylesheets/abstracts/mixins";

.container{
  @include modalContainer
}
.header{
  text-align: center;
  color: $colorWhite;
}
.form{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  justify-content: space-around;
}
.buttonsContainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.cancelButton{
  border-radius: 4px;
  font-size: 1.2em;
  font-weight: bold;
  height: 100%;
  width: 50%;
  background: rgba($colorRed, 0.7);
  transition: background-color 0.5s ease-out;
  border: none;

  &:hover{
    background: $colorRed;
    border: $colorBlack 2px solid;
  }
}

.acceptButton{
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.2em;
  height: 100%;
  width: 50%;
  transition: background-color 0.5s ease-out;
  background: rgba($colorGreen, 0.7);
  border: none;

  &:hover{
    border: $colorBlack 2px solid;
    background: $colorGreen;
  }
}