@import "../../../assets/stylesheets/abstracts/variables";

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba($colorWhite, 0.5);
  grid-column: 1 / -1;
  margin-top: 10vw;
}