@import "@/assets/stylesheets/abstracts/variables";
@import "@/assets/stylesheets/abstracts/mixins";

.uploadFileInputHidden{
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.uploadFileButton{
    @include helperButton($colorLightGray, $colorGreen, 10px);
}

@media (max-width: 767px) {
    .uploadFileButton{
        display: none;
    }
}